:root {
  --active-color: #5454D4;
  --accent-color: #FF7143;
  --gray-color: #696871;
  --black-color: #19191B;
  --blue-color: #1D293F;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto auto;
  padding: 0 24px;
}

nav {
  margin: 0 auto;
}

ul{
  list-style-type: none;
}

li {
  display: inline-block;
}

.menu__title-home {
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
  transition: color .3s ease-in-out;
}

.menu__title-home {
  color: var(--black-color);
}

.menu__title {
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
  transition: color .3s ease-in-out;
}

.menu__title:hover {
  color: var(--black-color);
}

a {
  font-weight: 600;
  text-decoration: none;
  color: var(--gray-color);
}

.header__logo-general {
  height: 25px;
}

.menu_line {
  width: 41px;
  height: 2px;
  background-color: var(--active-color);
  margin: 10px 0 auto 15px;
}



.header__button {
  height: 40px;
  width: 100px;
  margin: auto 8px 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  background-color: var(--accent-color);
  color: #fff;
  transition: color .3s ease-in-out;
}

.header__button:hover {
  color: var(--black-color);
  background-color: #ff5e28;
}

.header__burger {
  width: 30px;
  height: 30px;
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 50px auto;
  padding: 0 24px;
}

.main__offer {
  width: 100%;
}

h1 {
  font-size: 25px;
  line-height: 30px;
  color: var(--black-color);
}

.main__offer-text {
  margin: 8px 0 50px 0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray-color);
}

.main__offer-button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main__offer-button {
  height: 60px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 17px;
  background-color: var(--active-color);
  color: #fff;
  transition: color .3s ease-in-out;
}

.main__offer-button:hover {
  background-color: #3838c4;
}

.main__offer-arrow {
  height: 60px;
  width: 60px;
  display: block;
  justify-content: end;
  align-items: center;
  position: absolute;
  right: 0;
}

.main__offer-img {
  width: 100%;
}

.partners {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.partners__logo {
  display: block;
  margin: 10px auto;
}

.search__img {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto 24px auto;
  padding: 0 24px;
}

.search__img-statistic {
  height: 123px;
  position: relative;
  margin: 0 8px 120px 0;
}

.search__img-trainee {
  height: 330px;
}

.search__form-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.search__form {
  width: 300px;
  height: 440px;
  border-radius: 16px;
  background-color: var(--active-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-text0 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 700px;
  color: #fff;
  margin: 35.5px 0;
}

.form__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form1 {
  width: 280px;
  height: 65px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 16.3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 0 15px;
  color: var(--black-color);
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.form1::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-color);
  margin-left: 15px;
}

.form-text1 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-color);
  margin-left: 15px;
}

.form-text2 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--blue-color);
  margin-left: 15px;
}

.search-form-button {
  height: 60px;
  width: 211px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 8.3px auto 0 auto;
  font-size: 17px;
  background-color: var(--accent-color);
  color: #fff;
  transition: color .3s ease-in-out
}

 .search-form-button:hover {
  background-color: #ff5e28;
  color: #19191B;
 }

 button {
  font-weight: 600;
  box-shadow: none;
  border: none;
}

@media only screen and (min-width: 320px) {
  nav {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .header__logo-general {
    height: 40px;
  }

  .header__button {
    width: 160px;
    margin: auto 32px 0 auto;
  }

  .header__burger {
    width: 40px;
    height: 40px;
  }

  h1 {
    font-size: 35px;
    line-height: 40px;
  }

  .main__offer-text {
    font-size: 20px;
    line-height: 30px;
  }

  .main__offer-button {
    width: 211px;
  }

  .main__offer-arrow {
  position: absolute;
  right: 20px;
  }
}

@media only screen and (min-width: 768px) {

  nav {
    display: block;
  }

  .header__burger {
    display: none;
  }

  .header__button {
    margin: 0;
  }

  .main {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
  }

  h1 {
    font-size: 45px;
    line-height: 50px;
  }
  
  .main__offer-text {
    margin-bottom: 50px;
  }

  .main__offer-button-arrow {
    justify-content: start;
  }

  .main__offer-button {
    margin-right: 40px;
    margin-left: 0px;
  }

  .main__offer-arrow {
    position: unset;
    }
  
  .partners {
    margin-bottom: 100px;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 714px;
    padding: 0 24px;
  }

  .search__img-trainee {
    height: 473px;
  }

  .search__form {
    width: 432px;
  }
  
  .form-text0 {
    font-size: 29px;
  }

  .form1 {
    width: 355px;
  }
}

@media only screen and (min-width: 992px) {

  .header {
    max-width: 1070px;
    padding: 0 50px;
  }

  .menu__title-home {
    padding: 0 25px;
  }

  .menu__title {
    padding: 0 25px;
  }

  .menu_line {
    margin: 10px 0 auto 25px;
  }

  .header__button {
    height: 60px;
    width: 211px;
    font-size: 17px;
  }

  .main {
    max-width: 1070px;
    padding: 0 50px;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .partners {
    max-width: 1070px;
    padding: 0 50px;
  }

  .search {
    width: 914px;
    padding: 0 24px;
  }

  .search__img-trainee {
    height: 473px;
  }
}

@media only screen and (min-width: 1200px) {

  h1 {
    font-size: 80px;
    line-height: 77px;
  }

  .offer-img {
    height: 644px;
    width: 580px;
  }

  .partners {
    margin-bottom: 150px;
  }

  .search__form-block {
    margin-left: 200px;
  }

  .search {
    max-width: 1070px;
  }
}
